.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  color: var(--color-fg);
  background-color: var(--color-bg);

  @media (min-width: 64rem) {
    padding: 1rem 3rem;
  }

  .navbar__item {
    --_offset: 0.2rem;
    display: block;
    padding: 0.5rem 1rem;
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }

  .navbar__list {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar__profile {
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    background-color: inherit;
    color: inherit;
    border: 0.1rem solid currentColor;
    cursor: pointer;
  }
}
