<div class="editProfile">
    <h2 class="editProfile__title"># Modifier un profil</h2>
    <form class="editProfile__form">

        <select required name="id" onchange="{{handlerSelect}}(this.value)">
            <option value="">-- Choisir un profil --</option>
            {{profiles}}
        </select>

        <input required type="text" name="name" placeholder="Nom du profil">

        <select required name="min_age">
            <option value="">-- Restriction d'âge --</option>
            <option value="0">Tous publics</option>
            <option value="12">12 ans et plus</option>
            <option value="16">16 ans et plus</option>
            <option value="18">18 ans et plus</option>
        </select>

        <input onclick="{{handler}}" type="button" value="Modifier le profil" name="todo">

    </form>
</div>
